body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.avatar {
    width: 40px;
}

